@font-face {
  font-family: "K2";
  src: url('../assets/font/K2.ttf') format('ttf');
}

.topBar {
height: 60px;
margin-bottom: 10px;
}

.title {
  vertical-align: auto;
  font-family: 'Algerian' , sans-serif;
  text-decoration : underline;

}


.centerPage{
}

.article{

}

.user{

}

.customer{

}

.cart{

}

.nav{

}

.h40{height: 200px;}
.h60{height: 400px;}
